.App {
  text-align: center;
}

.App-header {
  background-color: #181D31;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ECE5C7;
}

html, body {
  height: 100%;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.options {
  text-align: left;
}

.options:hover {
  cursor: pointer;
}

.paragraph {
  white-space: pre-line;
  width: 50%;
  text-align: left;
}

.vert {
  display: flex;
  flex-direction: column;
}

.horiz {
  display: flex;
  flex-direction: row;
}

img {
  padding: 4px;
  max-width: 50%;
  max-height: 50%;
}